@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Roboto+Slab&family=Timmana&display=swap');
*
{
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}
a{
    text-decoration: none;
}
body
{
    background-color: rgb(122, 136, 150);
    display: flex;
}
#lasec
{
    width:50% ;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    justify-content: center;
    background-size: cover;
    background-image: linear-gradient(-45deg, #4aeb44 0%, #04befe 100%);
    background-position: top center;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;

    
}
.label
{
    max-width: 500px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 25% 85%;
    padding: 1rem 1rem;
    position: relative;
}
.label input
{
    width: 80%;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.label input::placeholder {
    color: #aaa;
    font-weight: 700;
  }

  .label:hover
  {
    outline: 0;
    border: 1.5px solid #5544eb;
  }
  .btn {
    width: 150px;
    background-color: #005eff;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }